.predictions-results {
  margin-top: 20px;
  margin-bottom: 15px;
}

.betting-simulation {
  margin-top: 15px;
}

.week-matchups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
}

.week-number {
  text-align: left;
  font-weight: 800;
  font-size: 35px;
  padding-top: 35px;
  padding-bottom: 3px;
}

.date {
  text-align: left;
  font-weight: 800;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  color: #070707;
}

.date:first {
  margin-top: 35px;
}

.matchup-box {
  margin-bottom: 15px;
  margin-right: 18px;
}

.header {
  display: inline-flex;
  font-size: 55px;
 
  text-align: left;
  letter-spacing: -0.45px;
  font-weight: 900;
}

.completed-header {
  margin-top: 150px;
  margin-bottom: 30px;
  padding-bottom: 7px;
  border-bottom: 1px dotted #000;
}

.toggle {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
}

.toggle-title {
  margin-right: 5px;
  font-size: 13px;
  letter-spacing: -0.25px;
  margin-left: 5px;
  width: 300px;
}

.toggle-checkbox {
  vertical-align: middle;
  font-size: 12px;
}