.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -10px;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.team-name {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-top: -3px;
  letter-spacing: -0.3px;
}

.team-record {
  font-size: 12px;
  margin-top: 4px;
  color: #666;
  font-weight: 600;
  letter-spacing: 1px;
}