.App {
  background: #fff;
  height: 100%;
  width: 90%;
  min-width: 550px;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;

  font-family: AtlasGrotesk, "Helvetica Neue", Helvetica,Arial, sans-serif;
}

html, body, #app, #app>div {
  height: 100%
}